#logo{
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 100px;
}
p{
	text-align: center;
	font-family: Open Sans;
}
#a{
	font-weight: 400;
	margin-left: 200px;
	margin-right: 200px;
	color: #999999;
}
.a{
	font-weight: 700;
}
#opa{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#ab{
	border-radius: 4px;
	font-size: 15px;
	padding: 10px 35px 10px 35px;
	border-color: #999999;

}
input.butn {
  background: #ee8de8;
  background-image: -webkit-linear-gradient(top, #ee8de8, #ea3fbc);
  background-image: -moz-linear-gradient(top, #ee8de8, #ea3fbc);
  background-image: -ms-linear-gradient(top, #ee8de8, #ea3fbc);
  background-image: -o-linear-gradient(top, #ee8de8, #ea3fbc);
  background-image: linear-gradient(to bottom, #ee8de8, #ea3fbc);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Open Sans;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 35px 10px 35px;
  text-decoration: none;
  border: none;
}
